*{
    margin: 0;
    padding: 0;
    
    
}

body {
    background-image: url("images/texas-baggrund.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
    height: 100%;
    margin: 0;

  }

.cover {
    box-shadow: 0 25px 0 0 rgba(0, 0, 0, 0.712);
    -webkit-box-shadow: 0 10px 6px -6px black;
	   -moz-box-shadow: 0 10px 6px -6px black;
     width: 100%;
	        
}
      


.flexbox {
 
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

}

.flexbox div {
    margin-top: 50px;
background-color: #b7794d;
-webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow: 0 8px 6px -6px black;
border-radius: 4px;
height: 300px;
width: 300px;
text-align: center;
}

.tattoo_img, .barber_img, .denim_img  {
  max-height: 200px;
  max-width: 200px;
}


.flexbox img {
  margin-top: 50px;
}


.denim:hover, .barber:hover, .tattoo:hover {
background-color: #b3c382;
cursor: pointer;

}

.container {
  width: 80%;
  padding: 10px;
  text-align: center;
  background-color:#b7794d ;
  margin-top: 50px ;
  margin-left: auto;
  margin-right: auto ;
  -webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow: 0 8px 6px -6px black;
border-radius: 4px;
}

.puff-in-center {
  opacity: 0;
  transition: opacity 0.5s;
}

.puff-in-center.transition {
  opacity: 1;
  transition: opacity 0.5s;
}


.texas_text {
  padding: 20px;
  line-height: 30px;
  text-align: start;
  font-family: 'Yuji Syuku';
  font-style: normal;
  font-weight: 600;
}

h2 {
  
  color: black;
  font-family: 'Rye', cursive;
    font-size: 40px;
    width: 100%;
    height: 50px;
    
}

.article1 {
    
    margin-top: 40px;
    padding: 10px;
    display:flex;
    justify-content: space-between;
    height: 400px;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    
}

.article_text {
  display: flex;
  height: 170px;
  width: 60%;
  background-color: #b7794d;
  margin-right: 25px;
  margin-top: 90px;
  padding: 20px;
  -webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow: 0 8px 6px -6px black;
border-radius: 4px;
  
}

.text_brinch {
  width: 100%;
}

#empty {
  position: absolute;
  transition: opacity 0.1s;
}


.flip-card {
  background-color: transparent;
  width: 350px;
  height: 350px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
}



.flip-card-back {
  background-color: inherit;
  color: white;
  transform: rotateY(180deg);
  
}

.flip-card-text {
  margin-top: -300px;
  margin-left: -40px;
}


.article2 {
    
  margin-top: -100px;
  padding: 10px;
  display:flex;
  justify-content: space-between;
  height: 400px;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  
}
.article2 h2{
  display: flex;
  
}

.article_text2 {
  display: flex;
  height: 170px;
  width: 60%;
  background-color: #b7794d;
  margin-right: 25px;
  margin-top: 100px;
  padding: 20px;
  -webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow: 0 8px 6px -6px black;
border-radius: 4px;
  
}



.flip-card2 {
  background-color: transparent;
  width: 350px;
  height: 350px;
  perspective: 1000px;
  display: flex;
}

.flip-card-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
}

.flip-card2:hover .flip-card-inner2 {
  transform: rotateY(180deg);
}

.flip-card-front2, .flip-card-back2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
}



.flip-card-back2 {
  background-color: inherit;
  color: white;
  transform: rotateY(180deg);
  
}

.article3 {
  margin-top: -100px;
  padding: 10px;
  display:flex;
  justify-content: space-between;
  height: 400px;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}


.arts {
  display: grid;
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #b7794d;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow: 0 8px 6px -6px black;
}

.arts h2 {
  font-family: 'Rye', cursive;
  text-align: center;
}


.gallery {
  margin-top: 20px;
display: grid;
grid-template-columns: 120px 120px 120px  120px 120px 120px;
align-items: start;
justify-content: space-evenly;
}



.gallery :first-child {
align-self: center;
}



.img img {
height: fit-content;
width: 100%;
margin-bottom: 20px;
}

#fullpage {
  margin-top: -50px;
display: none;
position:absolute;
z-index: 7;
width: 100%;
height: 80vh;
background-size: contain;
background-repeat: no-repeat no-repeat;
background-position: center;
background-color: rgba(0, 0, 0, 0.699);



}



footer {
  width: 100%;
  display: table;
  background-color:#644137 ;
  color: white;
  text-align: center;
  font-family: 'Rye', cursive;
  bottom: 0;
  margin-top: 1%;
  

}

.texas {
  width: 100%;
  display: table;
  
}

.footer-box {
  width: 100%;
}

.upper-text {
  text-align: center;
  margin-top: 1%;
}



.some-logo {
  height: 30px;
 margin: 5px;
 cursor: pointer;
}

.lower-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 15px;
  
}



.lower-icons {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}



/*_____________________________________________________________________________________________________________________________________*/
/* hide af indhold fra HTML for ting der kun er egnet mobil /tablets. */

@media only screen and (min-width:1201px) {
  
  .polaroid-mobil {
    display: none;
  }

  .container-mobil {
    display: none;
  }

  .personinfo-mobil {
    display: none;
  }

}




/*_____________________________________________________________________________________________________________________________________*/

/*--tablet friendly----*/

@media only screen and (max-width: 1200px) {
  
  body {
    background-image: url("images/texas-baggrund.png");
    background-repeat:repeat;
    background-attachment: fixed;
   
   
}
/* tilføjet repeat på baggrund her (ovenover), da den ellers ikke fyldte skærmen */ 

  .cover {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  /* tilpasning af knapper */ 
  
  .flexbox {
 
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    max-width: 99%;
    
  
  }
  
  .flexbox div {
      margin-top: 50px;
  background-color: #b7794d;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  border-radius: 4px;
  height: 120px;
  width: 120px;
  max-width: 100%;
  text-align: center;
  }

  .flexbox img {
    height: 100px;
    margin-top: 10%;
    
/* noget nyt */


  }

  .galleri {
    max-width: 100%;
    
  }

  .gallery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 150px 150px 150px 150px; 
    margin: none;
  
  }

  .img {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  
  

  .arts {
    
  }

  .article1, .article2, .article3 {
    display: none;
  }

  /* footer ind til at display som kollonne */ 

  .lower-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 15px;
  }


  .container {
    display: none;
  }

  .texas_text {
    display: none;
  }

  .container-mobil {
    width: 80%;
    padding: 10px;
    text-align: center;
    background-color:#b7794d ;
    margin-top: 50px ;
    margin-left: auto;
    margin-right: auto ;
    -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  border-radius: 4px;
    
  }

  .overskrift-mobil {
    font-size: 175%;
  }

  .texas_text-mobil {
    text-align: start;
    font-family: 'Yuji Syuku';
    font-style: normal;
    font-weight: 600;
  }


.drengene-polaroid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:55%;
}
  

.personinfo-mobil-pynt {
  width: 80%;
    padding: 5px;
    text-align: center;
    background-color:#b7794d ;
    margin-top: 10px ;
    margin-left: auto;
    margin-right: auto ;
    -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  border-radius: 4px; 
}

.personinfo-text {
 
  font-family: 'Yuji Syuku';
  font-style: normal;
  font-weight: 600;
  margin-top: 3%;
  text-align: left;
}

 
.personinfo-header {
  font-family: 'rye', cursive;
  margin-top: 3%;
}
























































  
/*_____________________________________________________________________________________________________________________________________*/

/* mindre mobiler */



@media only screen and (max-width: 600px) {


  body {
    background-image: url("images/texas-baggrund.png");
    background-repeat:repeat;
    background-attachment: fixed;
   
   
}


  .cover {
    min-width: 100%;
    height: 200px;
    
  }

  /* tilpasning af knapper */ 
  
  .flexbox {
 
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    
    
    
  
  }
  
  .flexbox div {
      margin-top: 50px;
  background-color: #b7794d;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  border-radius: 4px;
 text-align: center;
 max-height: 100%;
  }

  .flexbox img {
    height: 100px;
    margin-top: 10%;




    
/* noget nyt */


  }

  
  .article1, .article2, .article3 {
    display: none;
    
  }

  .gallery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px 80px;
  }

  .img {
    max-width: 60%;
  }

  .tattoo_img, .barber_img, .denim_img  {
    max-height: 90px;
    max-width: 90px;
  }










}
}


/* ------- Mindre mobiler ------------*/
@media only screen and (max-width: 400px){

  .flexbox {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: none;
   
  }

  .barber, .denim, .tattoo {
    max-width: 70px;
  }

    

  
  #fullpage { 
    display: none;
    z-index: 7;
    width: 100%;
    height: 80vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.699);
    margin-top: 5%;

  }
}